<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Stock Visualizer</title>
    <link rel="stylesheet" type='text/css' href='./style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="./stockChart.js"></script>


</head>


<body>
  <div class = 'container'>
    <div class='chartContainer' >
        <canvas id="stock-chart" width="1000px" height="500px"></canvas>
    </div>

    <div class='stockItemContainer' id='stockContainer'>
        <% for(let numStocks = 0; numStocks < dataset.length; numStocks++) { %>
            <div class="stockItem" id='<%=dataset[numStocks].label %>Div'>
                <h1><%=dataset[numStocks].label %></h1>
                <button id="<%=dataset[numStocks].label %>" name=numStocks onclick=removeStock(<%-dataset[numStocks].label %>)>X</button>
                <p>
                    <%=stockDescription[numStocks] %>
                </p>

            </div>
            <% } %>
                <div class="stockItem addStockItem">
                    <h3>Syncs in real-time across clients</h3>
                    <input type='text' value = 'Stock Code' id='addStock' onFocus="clearInput()">
                    <button onclick="updateChart()">Add</button>
                </div>
    </div>
  </div>
    <script>
        function clearInput(){
          $('#addStock').val('');
        }

        var dataset = <%-JSON.stringify(dataset) %>
        var labels = <%-JSON.stringify(labels) %>
        drawChart(labels, dataset);

        var socket = io();
        socket.on('add stock', function(stockData) {
            redrawChart(stockData);
            console.log(stockData);
            var stockCode = stockData.dataset.dataset_code;
            var stockDescription = stockData.dataset.name;
            $('#stockContainer').append($(`<div id = '${stockCode}Div' class = 'stockItem'><h1>${stockCode}</h1>
            <button id = ${stockCode} onclick = 'removeStock(${stockCode})'>X</button>
            <p>${stockDescription}</p></div>`));
            clearInput();
        });

        socket.on('remove stock', function(stockData) {
            console.log('stockData in emit');
            console.log(stockData);
            removeFromChart(stockData);
            $(`#${stockData}Div`).remove();
        });
    </script>

</body>

</html>
