<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Stock Visualizer</title>
    <link rel="stylesheet" type='text/css' href='./style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--moment used for chart time axis -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="./stockChart.js"></script>


</head>


<body>
    <div class='container'>

        <div class='chartContainer'>
            <canvas id="stock-chart" width="1000px" height="500px"></canvas>
        </div>

        <div class='stockItemContainer' id='stockContainer'>
            <!--create div for each stock returned from database -->
            <% for(let numStocks = 0; numStocks < dataset.length; numStocks++) { %>
                <div class="stockItem" id='<%=dataset[numStocks].label %>Div'>
                    <span class = 'stockSpan'><%=dataset[numStocks].label %>
                    <button id="<%=dataset[numStocks].label %>" name=numStocks onclick=removeStock(<%-dataset[numStocks].label %>)>X</button></span>
                    <p>
                        <%=stockDescription[numStocks] %>
                    </p>
                </div>
                <% } %>
                <!--div to add a stock -->
                    <div class="stockItem addStockItem">
                        <span class = 'addSpan'>Syncs in real-time across clients</span><br>
                        <span class = 'inputSpan'><input type='text' value='Stock Code' id='addStock' onFocus="clearInput()">
                        <button onclick="addStockToChart()">Add</button>
                        <p id = 'stockResponseDisplay'></p>
                    </div>
        </div>
    </div>
    <!--FOOTER -->
    <footer>
        <p>Stock Viewer App built by <a href="https://www.freecodecamp.com/reecelangerock" target='_blank'><b>Reece Langerock</b></a></p>
        <p>This is a FCC Project fulfilling the user stories listed <a href="https://www.freecodecamp.com/challenges/chart-the-stock-market" target='_blank'><b>here</b></a></p>
        <p>Check out the Github Repo <a href="https://github.com/ReeceLangerock/stock-market-app" target='_blank'><b>here</b></a></p>
    </footer>
    <script>
        function clearInput() {
            $('#addStock').val('');
        }

        // draw chart on page load
        var dataset = <%-JSON.stringify(dataset) %>
        var labels = <%-JSON.stringify(labels) %>
        drawChart(labels, dataset);

        //initialize socket
        var socket = io();
        // when socket receives 'add', append a div item for it and redraw the chart with the stock dataset
        socket.on('add stock', function(stockData) {
            redrawChart(stockData);
            var stockCode = stockData.dataset.dataset_code;
            var stockDescription = stockData.dataset.name;
            $('#stockContainer').append($(
                `<div id = '${stockCode}Div' class = 'stockItem'><span class = 'stockSpan'>${stockCode}
            <button id = ${stockCode} onclick = 'removeStock(${stockCode})'>X</button></span>
            <p>${stockDescription}</p></div>`));
            clearInput();
        });

        // when socket receives 'remove', remove the div item for it and redraw the chart with the stock removed
        socket.on('remove stock', function(stockData) {
            removeFromChart(stockData);
            $(`#${stockData}Div`).remove();
        });

    </script>
</body>
</html>
